{{> searchForm }}
{{#unless projects}}
    <h1 class="text-center">Nenhum Resultado</h1>
{{else}}
<ul class="nav list-group list-group-horizontal list-group-flush">

    {{#each projects}}
        {{#with this.dataValues }} 
            <li class="list-group-item list-group-item-action" style="width: auto;">
                <div class="card text-center shadow">
                    <img src="{{../mediaFiles.cover}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" title="{{name}}">{{ shortText name }}</h5>
                        <a href="/admin/project/details/{{id}}" class="btn btn-primary">Detalhes</a>
                    </div>
                </div>
            </li>
        {{/with}}
    {{/each}}

{{/unless}}
</ul>