<div class="container-fluid p-0 my-4">
    <div class="row align-items-center justify-content-between rounded-3 p-3 project-bar">
        <div class="col text-start">
            <h3 class="fs-2 m-0">Novos Projectos</h3>
        </div>
        <div class="col text-end">
            <a class="btn px-3 py-2 project-bar-btn" href="/projects/">Ver mais</a>
        </div>
    </div>


    {{#unless approvedProjects}}
        <h1 class="text-center mt-2">[Nenhum Resultados]</h1>
    {{else}}
    <ul class="nav list-group list-group-horizontal list-group-flush">
        {{#each approvedProjects}}
            {{#with this.dataValues }}
                <li class="list-group-item list-group-item-action" style="width: auto;">
                    <div class="card text-center shadow">
                        <img src="{{../this.mediaFiles.cover}}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title" title="{{name}}">{{ shortText name }}</h5>
                            <a href="/details/{{id}}" class="btn btn-primary">Detalhes</a>
                        </div>
                    </div>
                </li>
            {{/with}}
        {{/each}}
    
    {{/unless}}
    </ul>
</div>

<div class="container-fluid p-0 my-4">
    <div class="row align-items-center justify-content-between rounded-3 p-3 project-bar">
        <div class="col text-start">
            <h3 class="fs-2 m-0">Alguns Financiados</h3>
        </div>
        <div class="col-2 text-end">
            <a class="btn px-3 py-2 project-bar-btn" href="/projects/">Ver mais</a>
        </div>
    </div>

    {{#unless fundedProjects}}
        <h1 class="text-center mt-2">[Nenhum Resultado]</h1>
    {{else}}
    <ul class="nav list-group list-group-horizontal list-group-flush">
        {{#each fundedProjects}}
            {{#with this.dataValues }}
                <li class="list-group-item list-group-item-action" style="width: auto;">
                    <div class="card text-center shadow">
                        <img src="{{../this.mediaFiles.cover}}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title" title="{{name}}">{{ shortText name }}</h5>
                            <a href="/details/{{id}}" class="btn btn-primary">Detalhes</a>
                        </div>
                    </div>
                </li>
            {{/with}}
        {{/each}}
    {{/unless}}
    </ul>
</div>